h1, h2 {
  text-align: center;
}

body {
  background-color: gainsboro;
}

#yes-intro, #yes-design, #yes-large-company, #yes-android, #yes-government, #yes-startup, #no-intro, #no-desing, #no-large-company, #no-android, #no-government, #no-startup {
  display: none;
}
